# Ignore common binary files that might trigger Git LFS
*.png
*.jpg
*.jpeg
*.gif
*.psd
*.ai
*.pdf
*.zip
*.tar.gz
*.mp4
*.mov
*.avi
*.mp3
*.wav
*.iso
*.dmg
*.exe
*.dll
*.jar
/1_AI gifs/
/'00_How do I'/
/2_Hf/
/3_Meta/
/4_OpenAI/

