*.mp4 filter=xet diff=xet merge=xet -text
*.mov filter=xet diff=xet merge=xet -text
*.avi filter=xet diff=xet merge=xet -text
*.pt filter=xet diff=xet merge=xet -text
*.pth filter=xet diff=xet merge=xet -text
*.onnx filter=xet diff=xet merge=xet -text
*.csv filter=xet diff=xet merge=xet -text
*.parquet filter=xet diff=xet merge=xet -text
*.png filter=xet diff=xet merge=xet -text
*.jpg filter=xet diff=xet merge=xet -text
*.psd !text !filter !merge !diff
